.Fingerboard{flex:0.3;min-height: 200px;display: flex;align-items: center;}
.fingerboard-wrapper{position: relative;width: 100%;}
.guitar-neck,.bass-neck,.ukulele-neck{
	clip-path: polygon(0 2%, 100% 0, 100% 100%, 0 98%);
    position: relative;
    width: 100%;
    min-width: 1000px;
    height: 180px;
    background: #69361c url(https://cdn.wallpaperjam.com/content/images/70/4d/704d4ece94852f498f8bbe3e3f1ea728bd17a9a1.jpg);
    margin-top: 3px;
	z-index: 0;
	box-shadow:0px 0px 20px 7px rgba(0, 0, 0, 0.37);
	&.show-all-notes{
		.note{
			opacity: 0.7;
			visibility: visible;
			transition-duration:0.3s;
			span{opacity: 1;visibility: visible;}
		}
	}
}

.fret{
	width: 4.4%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
}

.fret-line{
	width: 4.4%;
    height: 100%;
    border-right: 0.8ex #9f9d9d solid;
    box-shadow: 3px 0px 2px -1px rgba(0,0,0,0.75);
    position: absolute;
    display: block;
    top: 0;
    right: 0;
	z-index: 1;
	&.f0{border-right-color: #e2e2e2;
		&:after{left:0;top:0;height: 100%;width: 100%;content: '';position: absolute;background-color: rgba(255,255,255,0.2);}
	}
}

.f22 {
	right: 0;
}

.f21 {
	right: 4.4%;
}

.f20 {
	right: 8.8%;
}

.f19 {
	right: 13.2%;
}

.f18 {
	right: 17.6%;
}

.f17 {
	right: 22%;
}

.f16 {
	right: 26.4%;
}

.f15 {
	right: 30.8%;
}

.f14 {
	right: 35.2%;
}

.f13 {
	right: 39.6%;
}

.f12 {
	right: 44%;
}

.f11 {
	right: 48.4%;
}

.f10 {
	right: 52.8%;
}

.f9 {
	right: 57.2%;
}

.f8 {
	right: 61.6%;
}

.f7 {
	right: 66%;
}

.f6 {
	right: 70.4%;
}

.f5 {
	right: 74.8%;
}

.f4 {
	right: 79.2%;
}

.f3 {
	right: 83.6%;
}

.f2 {
	right: 88%;
}

.f1 {
	right: 92.4%;
}

.f0 {
    right: 96.8%;
	.note {
		margin-left: -0.4ex;
	}
}

.string {
	position: absolute;
	width: 100%;
	left: 0;
	background: silver;
	-webkit-box-shadow: 1px 0px 1px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 0px 1px 0px rgba(0,0,0,0.75);
	box-shadow: 1px 0px 1px 0px rgba(0,0,0,0.75);
	z-index: 2;
}

.s1 {
	height: 1px;
	top: 22px;
}

.s2 {
	height: 2px;
	top: 44px;
}

.s3 {
	height: 3px;
	top: 68px;
}

.s4 {
	height: 4px;
	top: 94px;
}

.s5 {
	height: 5px;
	top: 122px;
}

.s6 {
	height: 6px;
	top: 150px;
}

.bass {
	background: repeating-linear-gradient(to left, silver, #9a9a9a 2px);
}

.dot:after{
	content: "";
    width: 1em;
    height: 1em;
    background: floralwhite;
    border: 1px solid floralwhite;
    border-radius: 1em;
    position: absolute;
    top: calc(50% - 6px);
    left: 50%;
    margin-left: -0.5em;
    margin-top: -0.5em;
}

.two-dots:before {
	content: "";
	width: 1em;
	height: 1em;
	background: floralwhite;
	border: 1px solid floralwhite;
	border-radius: 1em;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -0.5em;
	margin-top: -3em;
}

.two-dots:after {
	content: "";
	width: 1em;
	height: 1em;
	background: floralwhite;
	border: 1px solid floralwhite;
	border-radius: 1em;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -0.5em;
	margin-top: 1.5em;
}

.note {
	position: absolute;
	width: 2.6ex;
	height: 2.6ex;
	border: 1px solid transparent;
	border-radius: 50%;
	z-index: 3;
	text-align: center;
	left: 50%;
	margin-left: -1.3ex;
	text-align: center;
	background: white;
	opacity: 0;
	visibility: hidden;
	margin-top: -3px;
	padding-top: 1px;
	transition: opacity ease .0s,visibility ease .0s;
	display: flex;
	align-items: center;
	justify-content: center;

	span{transition: all ease .3s;opacity: 0;visibility: hidden;}
	&:after{
		content: '?';position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);opacity: 0;visibility: hidden;transition:all ease .3s;
	}

	&.question{
		opacity: 0.8;
		visibility: visible;
		transition-duration:0.3s;
		&:after{opacity: 1;visibility: visible;}
	}
	&.answer-correct{
		opacity: 1;
		visibility: visible;
		background: #00a811;
		color: white;
		span{opacity: 1;visibility: visible}
		&:after{opacity: 0;visibility: hidden;}
	}
	&.answer-wrong{
		opacity: 1;
		visibility: visible;
		background-color: #ff0000;
		color:white;
		span{opacity: 1;visibility: visible}
		&:after{opacity: 0;visibility: hidden;}
	}
}

.n1 {
	top: 14px;
}

.n2 {
	top: 37px;
}

.n3 {
	top: 62px;
}

.n4 {
	top: 88px;
}

.n5 {
	top: 117px;
}

.n6 {
	top: 144px;
}


.arrow{position: absolute;left:49%;top:49%;z-index: 2;transition:all ease 0s;opacity:0;visibility:hidden;pointer-events:none;width: 1px;height: 1px;margin-left: -1px;
	&.active{opacity:1;visibility: visible;pointer-events:all;transition-duration:0.3s;
		.arrowBody{animation-play-state: running;}
	}
	.arrowBody{animation: bounce 1.5s infinite;animation-play-state: paused;
		&:after{width: 1.2em;height: 1.2em;content: '';border-right:5px solid white;border-bottom: 5px  solid white;position: absolute;border-radius:2px;transform: rotate(45deg);top: -1.25em;left: -0.58em;}
		&:before{height: 1.8em;width: 5px;position: absolute;content: '';background-color: #fff;top: -1.9em;left: -2px;border-radius:2px;}
	}

	@keyframes bounce {
		0%, 20%, 50%, 80%, 100% {
		  transform: translateY(0);
		}
		40% {
		  transform: translateY(-20px);
		}
		60% {
		  transform: translateY(-10px);
		}
	}
}



// Bass styles
.bass-neck{height: 170px;clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 95%);background: #1c1210 url('https://www.taylorguitars.com/sites/default/files/styles/hero_rotator/public/TaylorGuitars-cites-rosewood-texture-sharp.jpg?itok=5x1dLBOo');background-size: cover;
	background-position: 50% 30%;
	.f0{width: 4.5%;
		.note{margin-left: -1.4ex;}
	}
	.f1,.f2,.f3,.f4,.f5{width: 6.6%;}
	.f6{width: 6.4%;}
	.f7,.f8,.f9,.f10{width: 4.6%;}
	.f11{width: 4.6%;}
	.f12,.f13,.f14,.f15{width: 4.1%;}
	.f16{width: 3.9%;}
	.f17{width: 3.3%;}
	.f18,.f19,.f20{width: 3.1%;}


	.f20 {right: 0%;}
	.f19 {right: 3.1%;}
	.f18 {right: 6.2%;}
	.f17 {right: 9.3%;}
	.f16 {right: 12.6%;}
	.f15 {right: 16.5%;}
	.f14 {right: 20.6%;}
	.f13 {right: 24.7%;}
	.f12 {right: 28.8%;}
	.f11 {right: 32.9%;}
	.f10 {right: 37.5%;}
	.f9 {right: 42.1%;}
	.f8 {right: 46.7%;}
	.f7 {right: 51.3%;}
	.f6 {right: 55.9%;}

	.f5 {right: 62.5%;}
	.f4 {right: 69.1%;}
	.f3 {right: 75.7%;}
	.f2 {right: 82.3%;}
	.f1 {right: 88.9%;}
	.f0 {right: 95.5%;}

	.s1 {height: 6px;top: 27px;}
	.s2 {height: 8px;top: 61px;}
	.s3 {height: 10px;top: 96px;}
	.s4 {height: 12px;top: 132px;}

	.n1 {top: 22px;}
	.n2 {top: 57px;}
	.n3 {top: 94px;}
	.n4 {top: 132px;}

	.dot:after{top: calc(50% - 2px);}
	.two-dots{
		&:before{margin-top: -3.1em;}
		&:after{margin-top: 2em;}
	}
}


// Ukulele styles
.ukulele-neck{height: 170px;clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 95%);background: #d9963c url(http://www.guitar-wood.ru/content/images/thumbs/0002537_mahagon-ka-zagotovka-grifa-gitary.jpeg);
	.f0{width: 3.1%;
		.note{margin-left: -1.8ex;}
	}
	.f1,.f2,.f3,.f4,.f5,.f6{width: 8.8%;}
	.f7{width: 8.8%;}
	.f8,.f9,.f10,.f11,.f12{width: 7%;}

	.f12 {right: 0%;}
	.f11 {right: 7%;}
	.f10 {right: 14%;}
	.f9 {right: 21%;}
	.f8 {right: 28%;}
	.f7 {right: 35%;}

	.f6 {right: 43.8%;}
	.f5 {right: 52.6%;}
	.f4 {right: 61.4%;}
	.f3 {right: 70.2%;}
	.f2 {right: 79%;}
	.f1 {right: 87.8%;}
	.f0 {right: 96.8%;}

	.s1 {height: 2px;top: 24px;}
	.s2 {height: 4px;top: 62px;}
	.s3 {height: 5px;top: 102px;}
	.s4 {height: 3px;top: 142px;}
	.string{background: rgba(255, 243, 231, 0.76);}

	.n1 {top: 18px;}
	.n2 {top: 56px;}
	.n3 {top: 96px;}
	.n4 {top: 135px;}

	.fret-line{border-right:0.8ex #c8c8c8 solid;box-shadow:3px 0px 2px -1px rgba(0, 0, 0, 0.44);
		&.f0{border-right-color:white;}
	}

	.dot:after{top: calc(50% - 2px);}
	.two-dots{
		&:before{margin-top: -3.1em;}
		&:after{margin-top: 2em;}
	}
}