@import 'variables.scss';

html {
  box-sizing: border-box;
  background-color:$secondary;
  background:linear-gradient($primary,$secondary);
  @media screen and (max-width:1024px){
    background: none;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Fira Sans', sans-serif;
  color: black;
  position: relative;
  &:after{
    content:'';
    position: absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    display:block;
    background-image:linear-gradient(90deg, rgba(255,255,255,.1) 1px, rgba(0,0,0,0) 1px), linear-gradient(0deg, rgba(255,255,255,.1) 1px, rgba(0,0,0,0) 1px);
    background-position:0px 1px;
    background-repeat:repeat;
    background-size:4px 4px;
  }
  @media screen and (max-width:1024px){
    &:after{display: none;}
  }
}

img,
video,
audio {
  max-width: 100%;
  height: auto;
}

#root{height: 100%;width: 100%;display: flex;position: relative;z-index: 1;}

.App,.main{display: flex;flex:1;flex-direction: column;}

.disabled-click{pointer-events:none !important;}