@import '../../../style/variables.scss';


//standart keykups signature
.keyboardKey{
  position: absolute;
  bottom:2px;
  right:5px;
  font-size: 11px;
  opacity: .7;
  font-style: normal;
  user-select: none;
}

// button standart
.btn{
  color: #fff;
  cursor: pointer;
  font-size:16px;
  font-weight: 400;
  line-height: 45px;
  margin: 0 0 2em;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  background: rgba(255, 190, 79, 0.45);
  font-weight: 100;
  transition:all ease .3s;
  user-select: none;
  &.btn-wide{
    width: 200px;
    max-width: 200px;
    font-size:15px;
  }

  svg {
    height: 45px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  rect {
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    stroke-dasharray: 422, 0;
    transition-delay: none;
  }
  span{
    transition:all ease .3s;
    position: relative;
  }
  .keyboardKey{
    line-height: 1;
    font-size: 9px;
    bottom: 3px;
    right: 4px;
    text-transform: none;
    font-weight: normal;
    transition:all ease .2s;
  }

  &:hover{
    background: rgba($primary, 0);
    font-weight: 900;
    letter-spacing: 1px;

    rect {
      stroke-width: 5;
      stroke-dasharray: 20, 302;
      stroke-dashoffset: 48;
      transition: all 0.9s cubic-bezier(0.19, 1, 0.22, 1);
    }
    .keyboardKey{
      opacity:0;
      font-weight: normal;
      letter-spacing: 0px;
    }
    &.btn-wide{
      rect{stroke-dasharray: 40, 325;}
    }
  }
  &:active{
    span{top:2px;}
  }
}
